form {
    background-color: azure;
    border: 2px solid rgb(63, 147, 147);
    border-radius: 5px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}

label {
    margin: 10px;
    text-align: right;
}

input {
    margin: 10px;
}