.spring {
    background-color: rgb(248, 206, 206);
}

.summer {
    background-color: rgb(165, 219, 174);
}

.autumn {
    background-color: rgb(255, 201, 126);
}

.winter {
    background-color: rgb(217, 247, 247);
}